{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Programs</h2>
    <a href="{% url 'create_program' %}" class="btn btn-success mb-3">Create New Program</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for program in programs %}
                <tr>
                    <td>{{ program.id }}</td>
                    <td>{{ program.name }}</td>
                    <td>{{ program.description }}</td>
                    <td>
                        <a href="{% url 'edit_program' program.pk %}" class="btn btn-warning">Edit</a>
                        <a href="{% url 'delete_program' program.pk %}" class="btn btn-danger">Delete</a>
                      </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No programs available.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
